.main-page {
    position: absolute;
    left: 240px;
    top: 70px;
    width: calc(100% - 240px);
    display: -moz-flex;
    display: flex;
    min-width: 768px;
    transition: margin-right 0.4s;
    background-color: var(--layout-bg);
}

.content {
    width: 100%;
    padding: 0 59px;
}
