@import 'normalize.css';

:root {
    --img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --sidebar-bg: #1b263a;
    --layout-bg: #0f1a2e;
    --layout-header-bg: rgba(15, 26, 46, 0.8);
    --player-bg: #111f3b;
    --sidebar-popup-bg: #1d2a49;
    --primary-bg: #173b45;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(15, 26, 46, 0.95) 55.21%, rgba(15, 26, 46, 0.6));
    --alpha-layout-bg: rgba(16, 31, 63, 0.8);
    --queue-player-popup-bg: #223c75;
    --blur-queue-bg: rgba(16, 31, 63, 0.9019607843137255);
    --purple-primary: #158370;
    --link-text-hover: #0daf94;
    --chart-bg-img-alpha: rgba(16, 31, 63, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
    --linear-gradient-bg: linear-gradient(180deg, #1b2f5a, #182e5d);
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --text-item-hover: #fff;
    --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
    --search-text: #eee;
    --text-placeholder: #dadada;
    --setting-icon-text: #d8d8d8;
    --border-player: hsla(0, 0%, 100%, 0.1);
    --player-bg: #111f3b;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.5);
    --player-text: #fff;
    --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
    --progressbar-active-bg: #fff;
    --white: #fff;
    --purple-primary: #158370;
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#root {
    position: relative;
    // overflow: hidden;
}

a {
    text-decoration: none;
}

textarea:focus,
input:focus {
    outline: none;
}

@font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'IconFont';
    src: url('/assets/fonts/IconFont.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Thin.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Light.ttf');
    font-weight: 600;
}

body {
    overscroll-behavior: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    letter-spacing: 0.1px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */

    opacity: 1; /* Firefox */
}

// [data-theme='blue'] {
//     --layout-bg: #0f1a2e;
//     --layout-header-bg: rgba(15, 26, 46, 0.8);
//     --player-bg: #111f3b;
//     --sidebar-popup-bg: #1d2a49;
//     --primary-bg: #173b45;
//     --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(15, 26, 46, 0.95) 55.21%, rgba(15, 26, 46, 0.6));
//     --alpha-layout-bg: rgba(16, 31, 63, 0.8);
//     --queue-player-popup-bg: #223c75;
//     --blur-queue-bg: rgba(16, 31, 63, 0.9019607843137255);
//     --purple-primary: #158370;
//     --link-text-hover: #0daf94;
//     --chart-bg-img-alpha: rgba(16, 31, 63, 0.9);
//     --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
//     --linear-gradient-bg: linear-gradient(180deg, #1b2f5a, #182e5d);
// }

.icon {
    color: var(--setting-icon-text);
    display: inline-block;
    font-family: 'IconFont';
    font-style: normal;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mar-b-5 {
    margin-bottom: 5px;
}

.mar-0 {
    margin: 0 !important;
}

.pd-l-r-3 {
    padding: 0 3px !important;
}

img,
video {
    height: auto;
    width: 100%;
}
