.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    background-color: var(--sidebar-bg);
}

.logo-container {
    height: 70px;
    padding: 0 25px 5px 28px;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: var(--img-logo-mp3) 50% / contain no-repeat;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.live-icon {
    width: 20px;
}

.sidebar-divide {
    position: relative;
    height: 1px;
    margin: 15px 0;
}

.sidebar-divide::after {
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
    border-top: solid 1px var(--border-primary);
}

.menu-scrollbar {
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 350px);

    &::-webkit-scrollbar {
        width: 5px;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb-bg);
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }
}

.track-vertical {
    position: absolute;
    width: 4px;
    transition: opacity 200ms ease 0s;
    opacity: 0;
    right: 2px;
    top: 2px;
    bottom: 2px;
    z-index: 100;
}

.thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    height: 334px;
    transform: translate;
    background-color: var(--scroll-thumb-bg);
    border-radius: 2px;
}

.menu-library {
    .menu-title {
        display: flex;
        color: #fff;
        font-size: 12px;
        margin: 0 28px 8px;
        height: 26px;
        justify-content: space-between;
        line-height: normal;
        align-items: center;

        &:hover {
            .edit-btn {
                display: block !important;
            }
        }

        p {
            font-weight: 600;
        }

        .edit-btn {
            display: none;
            &:hover {
                cursor: pointer;
                background-color: var(--alpha-bg);
            }

            .edit-icon {
                font-size: 16px;
                padding: 5px;
                border-radius: 50%;
                color: var(--text-primary);

                &:before {
                    content: '\33';
                }
            }
        }
    }

    &:hover {
        .title-icon {
            display: block !important;
        }
    }
}

.create-playlist {
    .add-btn {
        position: fixed;
        width: 240px;
        left: 0;
        bottom: 0;
        height: 54px;
        border-top: 1px solid var(--border-primary);
        padding: 0 28px;
        border-radius: 0;
        display: flex;
        align-items: center;
        color: var(--text-primary);
        font-weight: 700;

        .add-icon {
            font-size: 18px;
            font-weight: 300;

            &:before {
                content: '\62';
            }
        }

        span {
            margin-left: 14px;
        }

        &:hover {
            cursor: pointer;
            color: #dadada;
        }
    }
}
