.main-page {
    position: absolute;
    right: 0;
    top: 70px;
    width: calc(100% - 240px);
    height: calc(100vh - 70px);
    display: -moz-flex;
    display: flex;
    min-width: 768px;
    background-color: var(--layout-bg);
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content {
    padding: 0 44px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.gallery {
    padding-top: 32px;
}

.gallery-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 209.41px;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 0 -15px 20px;
    transition: height 0.2s;

    .zm-gallery-prev {
        left: 0;
    }

    .zm-gallery-next {
        right: 0;
    }

    .gallery-prev-btn {
        font-family: 'IconFont';
        position: absolute;
        left: 25px;
        font-size: 2vw;

        i {
            color: var(--white);
            &::before {
                content: 'z';
            }
        }
    }

    .gallery-next-btn {
        position: absolute;
        right: 25px;
        font-size: 2vw;

        i {
            color: var(--white);

            &::before {
                content: 'A';
            }
        }
    }

    .zm-gallery-prev,
    .zm-gallery-next {
        position: absolute;
        height: 100%;
        z-index: 10;
        cursor: pointer;
    }
}

.gallery-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: var(--white);
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgb(226 102 102 / 15%) 0px 2px 4px 0px;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.gallery-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, z-index 0s linear 0.25s;
    z-index: 0;
    opacity: 1;
    width: 33.33%;
    border-radius: 8px;
    padding: 0 15px;
}
.zm-card {
    max-width: 100%;
    position: relative;
}
.zm-card-image {
    border-radius: 8px;
    width: 100%;
}
.image {
    width: 100%;

    img {
        border-radius: 8px;
        width: 100%;
    }
}

.zm-card-content {
}
.title {
}
.sub-title {
}

// .gallery-item-prev {
//     transform: translateX(-100%);
//     opacity: 1;
//     z-index: 1;
// }

// .gallery-item-first {
//     transform: translateX(-20%);
// }

// .gallery-item-next {
//     transform: translateX(100%);
//     opacity: 1;
//     z-index: 1;
// }

// .gallery-item-selected {
//     transform: translateX(0);
//     opacity: 1;
//     z-index: 10;
// }

// .gallery-item-last {
//     transform: translateX(20%);
// }

// .gallery-item-add {
// }
