.playlist-section {
    margin-top: 48px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.title {
    font-size: 20px;
    color: var(--text-primary);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}

.more-icon {
    font-size: 16px;
    top: 0;
    margin-left: 6px;

    &::before {
        content: '\41';
    }
}

.content-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    margin: 0 -15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    z-index: 3;
    width: 100%;
}

.carousel-item {
    padding: 0 14px;

    .zm-card {
        line-height: normal;
    }

    .card-image {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        .image {
            line-height: 0;
            height: 0;
            padding-bottom: 100%;
            border-radius: 5px;
            overflow: hidden;
        }
    }
    .card-info {
        margin-top: 12px;

        .title {
            margin-bottom: 4px;
            a {
                line-height: 1.36;
                color: var(--text-primary);
                text-transform: none;
                font-size: 14px;
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        .subtitle {
            color: var(--text-secondary);
            font-size: 14px;
            line-height: 1.33;
            font-weight: 400;

            a {
                color: var(--text-secondary);
            }
        }
    }
}

.prev-btn {
}

.prev-icon {
}

.next-btn {
}

.next-icon {
}
