.playlist-section {
    margin-top: 48px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.title {
    font-size: 20px;
    color: var(--text-primary);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.more-btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);

    &:hover {
        color: var(--link-text-hover);

        .more-icon {
            color: var(--link-text-hover);
        }
    }

    .more-icon {
        font-size: 16px;
        top: 0;
        margin-left: 6px;
        color: var(--text-secondary);

        &::before {
            content: '\41';
        }
    }
}

.content-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    margin: 0 -15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-container {
    display: flex;
    z-index: 3;
    width: 100%;
}

.carousel-item {
    padding: 0 14px;
    flex: 1;

    .card-info {
        margin-top: 12px;

        .title {
            margin-bottom: 4px;

            a {
                line-height: 1.36;
                color: var(--text-primary);
                text-transform: none;
                font-size: 14px;
                font-weight: 700;
                // avoid size of flex item error
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                &:hover {
                    color: var(--link-text-hover);
                }
            }
        }

        .subtitle {
            color: var(--text-secondary);
            font-size: 14px;
            line-height: 1.33;
            font-family: 'Roboto';
            font-weight: 600;

            a {
                color: var(--text-secondary);

                &:hover {
                    color: var(--link-text-hover);
                    text-decoration: underline;
                }
            }

            span {
                display: block;
            }
        }
    }
}

.zm-card {
    line-height: normal;
}

.card-image {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    .image {
        line-height: 0;
        height: 0;
        padding-bottom: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
}

.media-header {
    display: flex;
    padding: 0 0 20px;
    align-items: center;

    .media-left {
        margin-right: 10px;
        .image > img {
            width: 50px;
            height: 50px;
        }
    }

    .media-content {
        line-height: 1.54;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .subtitle {
            font-family: 'Roboto';
            font-size: 15px;
            margin-top: 3px;
            color: var(--text-secondary);
            font-weight: 600;
            text-transform: uppercase;
        }

        .title {
            margin: 0;

            > a {
                color: var(--text-primary);
                font-size: 18px;

                &:hover {
                    color: var(--link-text-hover);
                }
            }
        }
    }
}
