.playlist-section {
    margin-top: 48px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.title {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-btn {
}

.next-btn {
}

.content-wrapper {
}

.carousel {
}

.carousel-container {
}

.carousel-item {
}

.carousel-item {
}

.carousel-item {
}

.carousel-item {
}

.carousel-item {
}

.prev-btn {
}

.prev-icon {
}

.next-btn {
}

.next-icon {
}
